<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>InfoNetwork</name>
	<displayName><![CDATA[InfoNetwork]]></displayName>
	<version><![CDATA[1.0.8]]></version>
	<description><![CDATA[Info sur le reseau du domaine ]]></description>
	<author><![CDATA[Jonathan kablan]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
